#include "/etc/rndc.key";
options {
        default-key "rndc-key";
        default-server {{ hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['api_interface']]['ipv6'][0]['address'] }};
        default-port {{ designate_rndc_port }};
};
